<% if @books.any? %>
  <table border=1>
      <tr>
      <th> Name </th>
      <th> Author </th>
      <th> Year </th>
      <th> Genre </th>
      <th> Description </th>
      <th> User Reviews </th>
      <th> User Ratings </th>
      <th> Edit </th>
      <th> Delete </th>
      <th> Review </th>
    </tr>


    <% @books.each do |book| %>
      <tr>
        <td> <%= link_to book.name, book_path(book)  %> </td>
        <td>  <%= book.author %>     </td>
        <td>  <%= book.year %>     </td>
        <td>  <%= book.genre %>     </td>
        <td>  <%= book.description %>     </td>

        <% if book.reviews.any? %>
          <td>
            <ul style="list-style: none;">

              <% book.reviews.each do |review| %>
                <li>
                  <%= review.thoughts %>
                </li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul style="list-style: none;">
              <% book.reviews.each do |review| %>
                <li>
                  <%= review.rating %>
                </li>
              <% end %>
            </ul>
          </td>
        <% else %>
          <td>
            &nbsp;
          </td>
          <td>
            &nbsp;
          </td>
        <% end %>

        <td> <%= link_to "Edit #{book.name}", edit_book_path(book) %> </td>
        <td> <%= link_to "Delete #{book.name}", book_path(book), method: :delete %> </td>
        <td> <%= link_to "Review #{book.name}", new_book_review_path(book) %> </td>
      </tr>
    <% end %>
  </table>

<% else %>
  No books yet
<% end %>


<a href="/books/new"> <button>  Click here to add a book </button> </a>
