<% if @books.any? %>
  <% @books.each do |book| %>
    <%= link_to book.name, book_path(book)  %>
    <%= book.author %>
    <%= book.year %>
    <%= book.genre %>
    <%= book.description %>
    <%= link_to "Edit #{book.name}", edit_book_path(book) %>
    <%= link_to "Delete #{book.name}", book_path(book), method: :delete %>
    <br />
  <% end %>
<% else %>
  No books yet
<% end %>


<a href="/books/new"> <button>  Click here to add a book </button> </a>
